<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Header</title>
	<link rel="stylesheet" type="text/css" href="../_assets/css/header.css">
	<link rel="stylesheet" type="text/css" href="../_assets/css/clean.css">
  <script type="text/javascript" src="../_assets/js/header.js"></script>
</head>
<body>
	<div class="header">
		<div class="header-container">
			<div class="logo"><img src="../_assets/images/modusversus.png" alt="Logo"></div>
			<div class="menu">
				<ul class="menu-list">
					<li><a href="home.html">HOME</a></li>
					<li><a href="about.html">ABOUT</a></li>
					<li><a href="services.html">SERVICES</a></li>
					<li><a href="portfolio.html">PORTFOLIO</a></li>
					<li><a href="blog.html">BLOG</a></li>
					<li><a href="features.html">FEATURES</a></li>
					<li><a href="contacts.html">CONTACTS</a></li>
					<li><a href="javascript:;" onclick="searcharea()">SEARCH</a></li>
				</ul>
			</div>
			<input type="search" placeholder="Search" id="searchbutton">
		</div>
	</div>
	<div class="clearfix"></div>
</body>
</html>
