<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Header</title>
	<link rel="stylesheet" type="text/css" href="../css/header.css">
</head>
<body>
	<div class="header">
		<div class="header-container">
			<div class="logo"><img src="../media/modusversus.png" alt="Logo"></div>
			<div class="menu">
				<ul class="menu-list">
					<li><a href="home.html">HOME</a></li>
					<li><a href="about.html">ABOUT</a></li>
					<li><a href="services.html">SERVICES</a></li>
					<li><a href="portfolio.html">PORTFOLIO</a></li>
					<li><a href="blog.html">BLOG</a></li>
					<li><a href="features.html">FEATURES</a></li>
					<li><a href="contacts.html">CONTACTS</a></li>
					<!--<li><a href=""><img src="../media/search.png" class="searchbutton" alt="Search"></a></li>!-->
				</ul>
			</div>
		</div>
				<input type="text" name="search" placeholder="Search..">
	</div>
	<div class="clearfix"></div>
	<div class="pageheadline">
		<div class="leftline"><span>FEATURES</span></div>
		<div class="rightline"><span>Home / Features</span></div>
	</div>
</body>
</html>
