
.footer{
	position: relative;
	width: 100%;
	height: 350px;
	background-color: #a65980;
	box-sizing: border-box;
	background-repeat: no-repeat;
	padding-top: 44px;
}

.footer__container{
	width: 1170px;
	height: 256px;
	background-color: transparent;
	margin: 0 auto;
	position: relative;
}

.footer__aboutUs{
	position: relative;
	width: 370px;
	display: inline-block;
	float: left;
}

.footer__aboutUs p,h3{
	color: white;
	display: inline-block;
}

.footer__aboutUs .footer__logo{
	width: 192px;
	height: 21px;
	padding-bottom: 15px;
}

.footer__menu{
	float: left;
	width: 335px;
	color: white;
	padding-left: 30px;
}

.footer__menu h3{
	color:#68364f;
	font-size: 20px;
	padding-bottom: 16px;
}

.footer__menu > .footer__menu__company{
	display: inline-block;
	float: left;
}

.footer__menu > .footer__menu__community{
	display: inline-block;
	float: left;
	padding-left: 75px;
}

.footer__menu > .footer__menu__company > .footer__menu__item, .footer__menu > .footer__menu__community > .footer__menu__item{
	padding-left: 25px;
	padding-bottom: 12px;
}

.footer__blog{
	display: inline-block;
	float: left;
	width: 370px;
	padding-left: 65px;
}

.footer__blog > .italic{
	font-style: italic;
	display: inline-block;
	font-size: 20px;
	color: white;
}

.footer__blog > h2{
	font-size: 20px;
	color: white;
	display: inline-block;
	padding-bottom: 16px;
}

.footer__blog > .blog{
	height: 70px;
	width: 360px;
	padding-bottom: 20px;
}

.footer__blog > .blog > .blog__leftimg{
	width: 70px;
	height: 70px;
	background-color: rgba(1,1,1,0.1);	
	border-radius: 5px;	
	position: relative;
	display: inline-block;
	float: left;
}

.footer__blog > .blog > .blog__leftimg > img{
	opacity: 0.5; 
	position:absolute;
	top: 0;	left: 0; right: 0; bottom: 0;
	margin:auto;
}

.footer__blog > .blog > .blog__right{
	padding-left: 19px;
	float: left;
	display: inline-block;
	width: 271px;
	line-height: 18px;
}

.footer__blog > .blog > .blog__right > p{
	color: white;	
}

.footer__blog > .blog > .blog__right > .tarih{
	color: #68364f;	
}


.footer__bottom{
	position: relative;
	width: 100%;
	background-color: #955073;
}

.footer__bottom__container{
	position: relative;
	width: 1170px;
	margin: 0 auto;
	height: 50px;
}

.footer__bottom > .footer__bottom__container > .footer__bottom__copyright{
	height: 50px;
	width: 150px;
	position: relative;
	display: inline-block;
	float: left;
}

.footer__bottom > .footer__bottom__container > .footer__bottom__copyright > p{
	color: white;
	line-height: 50px;
}

.footer__bottom > .footer__bottom__container > .footer__bottom__socialMedia{
	float: right;
	height: 50px;
}

.footer__bottom > .footer__bottom__container > .footer__bottom__socialMedia > img{
	padding-left: 30px;
	height: 20px;
	padding-top: 15px;
}

