.header{
	width: 100%;
	position: relative;
	display: block;
	background-color: rgba(166, 89, 128, 1);
  background-image: url(../_assets/images/footer-top-image2.png);
  background-repeat: no-repeat;
  height: 121px;
  width: 100%;
}

.header, .header__logo, .header__menu{
	display: block;
	float: left;
	height: 80px;
}

.header__logo > img{
	height: 80px;

}

.header ul.header__menu{
	width: 802px;
	float: right;
	position: relative;
	display: block;
}

.header li.header__menu__item{
	padding: 0;
	margin: 0;
}
ul.header__menu > li.header__menu__item{
	padding-left: 0;
	list-style: none;
	display: inline-block;
  padding: 0 11.5px;
}

.header ul.header__menu, a{
	text-decoration: none;
	color: white;
	font-size: 15px;
	cursor: pointer;
	line-height: 80px;
	display: inline-block;
}

li.header__menu__item{
	cursor: default;
}

.header li.header__menu__item a:hover{
	transition: 0.3s;
  text-decoration: underline;
}

.header__container{
	width: 1089px;
	height: 80px;
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#searchbutton{
  width: 100px;
  height: 50px;
  background-color: transparent;
  background-position: 10px 10px;
  right: 0;
  top: 15px;
  position: absolute;
  outline: none;
  border: none;
  border-left: 0.5px solid white;
  color: white;
  transition: 0.7s;
  line-height: 3;           /* Irrelevant, I guess */
  text-align: center;
  display: block;
}

#searchbutton::placeholder{
  color:#c5c5c5;
}

#searchbutton:focus{
  width: 802px;
  border:none;
  border-left: 0.5px solid white;
  z-index: 2;
  background-color: rgba(166, 89, 128, 0.95);
}

#searchbutton::-webkit-search-cancel-button{
  position:relative;
  right:10px;
  top: 2px;
  bottom: 0px;
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background-image: url('../images/search-cancel.png');
  background-repeat: no-repeat;
  z-index: 10;
}
