body, html{
	margin: 0;
	padding: 0;
	font-family: monospace;
}

div{
	display: block;
}

.header{
	width: 100%;
	position: relative;
	display: block;
	background-color: rgba(166, 89, 128, 1);
}

.header, .logo, .menu{
	display: block;
	float: left;
	height: 80px;
}

.logo>img{
	height: 80px;
}

.header .menu{
	width: 802px;
	float: right;
	position: relative;
	display: block;
}

.header .menu-list{
	padding: 0;
	margin: 0;
}

.header .menu-list li{
	padding-left: 0;
	list-style: none;
	display: inline-block;
	margin:0 21.5px;
}

.header .menu, a{
	text-decoration: none;
	color: white;
	font-size: 15px;
	cursor: pointer;
	line-height: 80px;
	display: inline-block;
}
.menu-list{
	cursor: default;
}
.header .menu-list li :hover{
	transition: 0.3s;
	border-bottom: 5px solid rgb(32,168,218);
}
.header-container{
	width: 1089px;
	height: 80px;
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
