<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Footer Page</title>
	<link rel="stylesheet" type="text/css" href="../_assets/css/clean.css">
	<link rel="stylesheet" type="text/css" href="../_assets/css/footer.css">
</head>
<body>
	<div class="footer" style="background-image: url(../_assets/images/footer-top-image.png);">
		<div class="footer__container clearfix">
			<div class="footer__aboutUs">
				<img src="../_assets/images/footer-logo.png" class="footer__logo">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec .</p>
				<p style="padding-top: 37px; padding-bottom:14px;">Phone:</p>&nbsp;<p style="font-size: 18px; font-style: italic;">182 2569 5896</p><br>
				<p>e-mail:</p>&nbsp;<p style="font-size: 18px; font-style: italic;">info@modu.versus</p>
			</div>	
			<div class="footer__menu">
				<div class="footer__menu__company">
					<h3>Company</h3>
					<ul class="footer__menu__company__item">
						<li class="footer__menu__company__item">> About</li>
						<li class="footer__menu__company__item">> FAQ</li>
						<li class="footer__menu__company__item">> Contact</li>
						<li class="footer__menu__company__item">> Terms</li>
						<li class="footer__menu__company__item">> Privacy</li>
						<li class="footer__menu__company__item">> Testimonials</li>
					</ul>
				</div>
				<div class="footer__menu__community">
					<h3>Community</h3>
					<ul class="footer__menu__community__item">
						<li class="footer__menu__community__item">> Blog</li>
						<li class="footer__menu__community__item">> Forum</li>
						<li class="footer__menu__community__item">> Support</li>
						<li class="footer__menu__community__item">> Newsletter</li>
					</ul>
				</div>
			</div>
			<div class="footer__blog">
				<p class="italic">from the</p>&nbsp;<h2>BLOG</h2>
				<div class="blog">
					<div class="blog__leftimg">
						<img src="../_assets/images/footer-blog-image.png">
					</div>
					<div class="blog__right">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
						<p class="tarih">26 May, 2013</p>
					</div>
				</div>
				<div class="blog">
					<div class="blog__leftimg">
						<img src="../_assets/images/footer-blog-image.png">
					</div>
					<div class="blog__right">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
						<p class="tarih">26 May, 2013</p>
					</div>
				</div>
			</div>
		</div>
		<div class="footer__bottom clearfix">
			<div class="footer__bottom__container">
				<div class="footer__bottom__copyright">
					<p>2013  ModusVersus</p>
				</div>
				<div class="footer__bottom__socialMedia">
					<img src="../_assets/images/facebook.png">
					<img src="../_assets/images/gplus.png">
					<img src="../_assets/images/twitter.png">
					<img src="../_assets/images/rss.png">
				</div>
			</div>
		</div>
	</div>
</body>
</html>