<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Header</title>
	<link rel="stylesheet" type="text/css" href="../_assets/css/clean.css">
	<link rel="stylesheet" type="text/css" href="../_assets/css/header.css">
</head>
<body>
	<div class="header clearfix" style="background-image: url(../_assets/images/footer-top-image2.png); background-position-y:100%;">
		<div class="header__container">
			<div class="header__logo"><img src="../_assets/images/modusversus.png" alt="Logo"></div>
			<ul class="header__menu">
				<li class="header__menu__item"><a href="home.html">HOME</a></li>
				<li class="header__menu__item"><a href="about.html">ABOUT</a></li>
				<li class="header__menu__item"><a href="services.html">SERVICES</a></li>
				<li class="header__menu__item"><a href="portfolio.html">PORTFOLIO</a></li>
				<li class="header__menu__item"><a href="blog.html">BLOG</a></li>
				<li class="header__menu__item"><a href="features.html">FEATURES</a></li>
				<li class="header__menu__item"><a href="contacts.html">CONTACTS</a></li>
			</ul>
			<input type="search" placeholder="Search" id="searchbutton">
		</div>
	</div>
</body>
</html>
